/* ------ стили элемента автозавершения -----*/
table.autocomplete {
	background-color: white;
	margin			: 0px 0px 0px 0px;
	padding			: 0;
	border			: 1px solid #B0B0B0;/*#3366CC;*/
	border-collapse	: collapse;

	box-shadow		: 2px 2px 4px 0px #B0B0B0;
	-moz-box-shadow	: 2px 2px 4px 0px #B0B0B0;
	-webkit-box-shadow : 2px 2px 4px 0px #B0B0B0;
}
table.autocomplete tr {
	text-align      : left;
	vertical-align	: middle;
	height          : 22px;
	cursor			    : pointer;	
}

table.autocomplete tr > td {
	vertical-align	: middle;
	background-color: white;
	color			      : black;
  padding         : 0 3px;
}

table.autocomplete tr.active > td {
	background-color: #b1b6e9;
}

/*стиль для символов, которые совпали при поиске для списка автозавершения*/
span.autocomplete-entry {
  background-color: #D0D0FF;
}
