/* стили для контекстного меню кнопки */

/* основной слой, в котором находиться таблица с контекстным меню для кнопки*/
div.btnmenu_maindiv {
	z-index			: 1999;
}

/* слой, выполняющий функцию тени контекстного меню */
div.btnmenu_shadow {
	background-color: #000; 
	opacity			: 0.2; /* прозрачность тени для OP MOZ CROME SAFARY */
	filter			: progid:DXImageTransform.Microsoft.Alpha(opacity=20); /*  прозрачность для "любимого" IE */
	z-index			: 990;
	margin-left		: 4px;
	margin-top		: 4px;
}

/* таблица с пунктами меню */
table.btnmenu_table {
	background-color: #FFF; 
	border			: 1px solid #d0d0d0; 
	font-size		: 10pt;
}

/* строка таблицы контекстного меню */
tr.btnmenu_tr {
	background-color: #FFF; 
	cursor			: pointer;
}

/* пункт контекстного меню */
td.btnmenu_td {
	white-space		: nowrap;
	color			: black; 
	padding-left	: 4px;
	padding-right	: 4px;
	padding-top		: 4px;
	padding-bottom	: 4px;
}

/* выделенный пункт контекстного меню */
td.btnmenu_td_selected  {
	background-color	: #c7d2e8;
}