/* Стиль: переделанный mac_os_x */

.wnd_title {
	display: block;
}

.table_window {
	display: flex;
}

.iris_win_n,
.iris_win_content,
.iris_win_s {
	flex: 1 1 0;
}

/* Focused windows */
.overlay_iris_win {
	background-color: #FFFFFF; /*#85BBEF; - это цвет затемнения при модальных диалогах */
	filter: alpha(opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.6;
}

.iris_win_nw {
	background: transparent url(../window/TL.png) no-repeat 0 0;
 	width: 13px;
 	height: 23px;
}

.iris_win_n {
	background: transparent url(../window/T.png) repeat-x 0 0;
	height: 23px;
}

.iris_win_ne {
	background: transparent url(../window/TR.png) no-repeat 0 0;
	width: 20px;
	height: 23px;
}

.iris_win_w {
	background: transparent url(../window/L.png) repeat-y top left;
	width: 5px;
}

.iris_win_e {
	background: transparent url(../window/R.png) repeat-y top right;
	width: 5px;
}

.iris_win_sw {
	background: transparent url(../window/BL.png) no-repeat 0 0;
	width: 20px;
	height: 22px;
}

.iris_win_s {
	background: transparent url(../window/B.png) repeat-x 0 0;
	height: 22px;
}

.iris_win_se, .iris_win_sizer {
	background: transparent url(../window/BR.png) no-repeat 0 0;
	width: 20px;
	height: 22px;
}

.iris_win_sizer {
	cursor: se-resize;
}

.iris_win_close {
	width: 19px;
	height: 19px;
	background: transparent url(../window/close.gif) no-repeat 0 0;
	position: absolute;
	top: 6px;
	right: 10px;
	cursor: pointer;
	z-index: 1000;
}

.iris_win_maximize {
	width: 19px;
	height: 19px;
	background: transparent url(../window/maximize.gif) no-repeat 0 0;
	position: absolute;
	top: 6px;
	right: 30px;
	cursor: pointer;
	z-index: 1000;
}

.iris_win_minimize {
	width: 19px;
	height: 19px;
	background: transparent url(../window/minimize.gif) no-repeat 0 0;
	position: absolute;
	top: 6px;
	right: 50px;
	cursor: pointer;
	z-index: 1000;
}

.iris_win_title {
	float: left;
	height: 15px;
	font-family: sans-serif, Tahoma, Arial;
	font-size: 9pt;
	text-align: center;
	margin-top: 2px;
	width: 100%;
	color: #000;
	padding-top: 4px;
}

.iris_win_content {
	overflow: auto;
	color: #222;
	font-family: sans-serif, Tahoma, Arial;
	font-size: 10px;
	background: #FFF;
}
.iris_win_s .status_bar {
	padding-bottom: 22px;
}

/*добавил по аналогии*/
.iris_win_message {
  	font-size: 11px;
	text-align: center;
	width: 100%;
	padding-top: 5px; /* miv */
	padding-bottom: 10px;
}

.iris_win_buttons {
	text-align: center;
	width: 100%;
}

.iris_win_progress {
	float:left;
	margin:auto;
	text-align:center;
	width:100%;
	height:15px;
	background: #FFF url('../window/window-info-loading.gif') no-repeat center center;
}

/* FOR IE */
* html .iris_win_nw {
	background-color: transparent;
	background-image: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="build/themes/classic/window/TL.png", sizingMethod="crop");
}

* html .iris_win_n {
	background-color: transparent;
	background-image: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="build/themes/classic/window/T.png", sizingMethod="scale");
}

* html .iris_win_ne {
	background-color: transparent;
	background-image: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="build/themes/classic/window/TR.png", sizingMethod="crop");
}

* html .iris_win_w {
	background-color: transparent;
	background-image: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="build/themes/classic/window/L.png", sizingMethod="scale");
}

* html .iris_win_e {
	background-color: transparent;
	background-image: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="build/themes/classic/window/R.png", sizingMethod="scale");
}

* html .iris_win_sw {
	background-color: transparent;
	background-image: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="build/themes/classic/window/BL.png", sizingMethod="crop");
}

* html .iris_win_s {
	background-color: transparent;
	background-image: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="build/themes/classic/window/B.png", sizingMethod="scale");
}

* html .iris_win_se {
	background-color: transparent;
	background-image: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="build/themes/classic/window/BR.png", sizingMethod="crop");
}

* html .iris_win_sizer {
	background-color: transparent;
	background-image: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="build/themes/classic/window/BR.png", sizingMethod="crop");
}