body, html {
  height: 100%;
  /* Background pattern from Subtle Patterns (https://www.toptal.com/designers/subtlepatterns/) */ 
  background-image: url(../images/login/gplaypattern.png);
}

.login-container {
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

div.logo {
	/* center logo by "iris" caption */
  background: url(../images/login/iriscrm.png) no-repeat scroll 73%;
  height: 80px;
}

.card {
	width: 350px;
  padding: 25px;
}

.hidden {
	display: none;
}

.form-control:focus {
  border-color: #8D9BD1; /* iris logo lighter color */
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(141,155,209,.6);
}

.btn-primary {
	background-color: #5E6EA9; /* iris logo color */
}
.btn-primary:hover {
  background-color: #566084; /* iris logo darker color */
}

.messages {
	height: 100px;
	min-width: 350px;
	margin-top: 3em;
  text-align: center;
}

.vesion-container {
	position: absolute;
	bottom: 0;
	width:100%;
	text-align: center;
	color: gray;
}
